In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"D:\ibrahim\data analyst\portfolio_projects\Behavior Analysis Report\customer_shopping_behavior.csv")
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

#  DATA PREPARATION & FEATURE ENGINEERING

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.shape

(3900, 18)

In [5]:
df.duplicated().sum()

0

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [7]:
#Fill with median rating by Category
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform( lambda x: x.fillna( x.median() ) )

In [8]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [9]:
#standardise column names
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns = {'purchase_amount_(usd)':'purchase_amount'})

In [10]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [11]:
#creating age groups
labels = ['Young Adult','Adult','Middle-Aged','Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [12]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-Aged
1   19  Young Adult
2   50  Middle-Aged
3   21  Young Adult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-Aged

In [13]:
# create new column purchase_frequency_days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [14]:

df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [15]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [16]:
# Dropping promo code used column, since both cols values are all same
df = df.drop('promo_code_used', axis=1)

# Retail Customer Intelligence: Data-Driven Business Strategy

## 1. Revenue by Gender 
Compared total revenue generated by male vs. female 
customers.

In [75]:
total_revenue_by_gender = df.groupby('gender')[['purchase_amount']].sum().sort_values(by='purchase_amount', ascending=False).reset_index()
total_revenue_by_gender.columns = ['gender', 'total_revenue']
print(total_revenue_by_gender)

   gender  total_revenue
0    Male         157890
1  Female          75191

## 2. High-Spending Discount Users
Identified customers who used discounts but still spent above average purchase amount.

In [133]:
avg_purchase = df['purchase_amount'].mean()

result = df[
    (df['discount_applied'] == 'Yes') & 
    (df['purchase_amount'] > avg_purchase)
][['customer_id', 'purchase_amount']]

print(f"Average purchase amount: {avg_purchase:.2f}\n")
print(result)

Average purchase amount: 59.76

      customer_id  purchase_amount
1               2               64
2               3               73
3               4               90
6               7               85
8               9               97
...           ...              ...
1666         1667               64
1670         1671               73
1672         1673               73
1673         1674               62
1675         1676               90

[839 rows x 2 columns]

## 3. Top 5 Products by Rating
Found products with the highest average review ratings.

In [175]:
products = df.groupby('item_purchased')[['review_rating']].mean().round(2).sort_values(by = 'review_rating', ascending=False)
top_5_products = products.head(5).reset_index()
top_5_products.index = top_5_products.index + 1
top_5_products.columns = ['Item','Average Rating']
print(top_5_products)

      Item  Average Rating
1   Gloves            3.86
2  Sandals            3.84
3    Boots            3.82
4      Hat            3.80
5  T-shirt            3.78

## 4. Shipping Type Comparison
Compared average purchase amounts between 
Standard and Express shipping

In [195]:
type = df.groupby(['shipping_type'])['purchase_amount'].mean().round(2)
type = type[['Express', 'Standard']] # filter only selected shipping types
type = type.reset_index()
type.index = type.index + 1
type.columns = ['shipping_type', 'Average Purchase Amount']
type

  shipping_type  Average Purchase Amount
1       Express                    60.48
2      Standard                    58.46

## 5. Subscribers vs. Non-Subscribers
Compared average spend and total revenue 
across subscription status.

In [243]:
result = df.groupby('subscription_status').agg(
    total_customers=('customer_id', 'count'),
    avg_spend=('purchase_amount', 'mean'),
    total_revenue=('purchase_amount', 'sum')
).round(2).sort_values(['total_revenue', 'avg_spend'], ascending=[True, False])

print(result)

                     total_customers  avg_spend  total_revenue
subscription_status
Yes                             1053      59.49          62645
No                              2847      59.87         170436

## 6. Discount-Dependent Products
Identified 5 products with the highest percentage of 
discounted purchases.

In [248]:
discount_products = (df.groupby('item_purchased')
                     .agg(discount_rate=('discount_applied', 
                          lambda x: round((x == 'Yes').sum() / len(x) * 100, 2)))
                     .sort_values('discount_rate', ascending=False)
                     .head(5))

print(discount_products)

                discount_rate
item_purchased
Hat                     50.00
Sneakers                49.66
Coat                    49.07
Sweater                 48.17
Pants                   47.37

## 7. Customer Segmentation
Classified customers into New, Returning, and Loyal 
segments based on purchase history.

In [319]:
def get_segment(purchases):
    if purchases == 1:
        return 'New'
    elif 2 <= purchases <= 10:
        return 'Returning'
    else:
        return 'Loyal'

# Apply without modifying df
segments = df['previous_purchases'].apply(get_segment)
result = segments.value_counts()
print(result)

previous_purchases
Loyal        3116
Returning     701
New            83
Name: count, dtype: int64

## 8. Top 3 Products per Category
Listed the most purchased products within each 
category.

In [345]:
# Count orders per product in each category
item_counts = df.groupby(['category', 'item_purchased']).size().reset_index(name='total_orders')

# Rank products within each category by order count
item_counts['item_rank'] = item_counts.groupby('category')['total_orders'].rank(method='first', ascending=False)

# Get top 3 ranked products per category
top_3_products = item_counts[item_counts['item_rank'] <= 3].sort_values(['category', 'item_rank']).reset_index(drop=True)
top_3_products.index+=1

print("Top 3 Products per Category:")
print(top_3_products[['item_rank', 'category', 'item_purchased', 'total_orders']])

Top 3 Products per Category:
    item_rank     category item_purchased  total_orders
1         1.0  Accessories        Jewelry           171
2         2.0  Accessories           Belt           161
3         3.0  Accessories     Sunglasses           161
4         1.0     Clothing         Blouse           171
5         2.0     Clothing          Pants           171
6         3.0     Clothing          Shirt           169
7         1.0     Footwear        Sandals           160
8         2.0     Footwear          Shoes           150
9         3.0     Footwear       Sneakers           145
10        1.0    Outerwear         Jacket           163
11        2.0    Outerwear           Coat           161

# Saving File

In [ ]:
df.to_csv('ecommerce_performance_data.csv', index=False)